.salesinformation_container{
    margin: 2% 20%;
    max-width: 900px;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    color: #000000; 
    
    .salesinformation_list{
        margin-left: 3%;
    }
    .classification_input {
        flex-basis: calc(50% - 10px); /* 50% chiều rộng của container trừ đi một khoảng lề */
        margin: 5px; /* Khoảng cách giữa các input */
    }
}